<table class="table table-hover">
  <tr>  
  <% Coupon.human_attribute_name(:code) %>
    <td><%= coupon.title %></td>
    <% if coupon.active? %>
    <td><%= link_to t('.inactivate'), inactivate_coupon_path(coupon), method: :post %></td>
    <% else %>
    <td><%= link_to t('.active'), active_coupon_path(coupon), method: :post %></td>
    <% end %>
  </tr>
</table>