<hr>
<strong>
  <center><h1 style ="color:Navy;"> Promotion System  </h1> 
</strong>
<p style="color:SteelBlue">Boas vindas ao sistema de gestão de promoções </p>
<hr>
<% if !user_signed_in? %>
<%= link_to 'Login', new_user_session_path %>
<p style="color:Navy;"> Faça login ou registre-se para acessar as funcionalidades </p>
<% end %>
</center>