<% if user_signed_in? %>
<hr>
<strong>
  <p style ="color:CadetBlue;"> Categoria de produto  </p>
</strong>
<hr>

<%= link_to 'Registrar uma categoria', new_product_category_path %>

<% if @product_categories.empty? %>
    <p>Nenhuma categoria cadastrada </p>
<% else %>
    <% @product_categories.each do |product_category| %>
        <h3> <%= link_to product_category.name, product_category %> </h3>
        <h3> <%= product_category.code %> </h3>
    <% end %> 
<% end %>

<%= link_to 'HOME', root_path %>
<% end %>
