<% if user_signed_in? %>
  <hr><strong><p style ="color:CadetBlue;"> Editar promoção </p></strong><hr>
  <%= render 'form', promotions: @promotions %><br>
   <center>
  <%= link_to promotions_path do %>
    <i class="fa fa-angle-double-left"></i> Voltar | 
  <% end %>
  <%= link_to root_path do %>
    <i class="fa fa-home"></i> Home
  <% end %>
  </center>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>