<% if user_signed_in? %>
<hr>
<strong>
  <p style ="color:CadetBlue;"> Registrar nova promoção  </p>
</strong>
<hr>

<%= render 'form', promotions: @promotions %>
<br>
<%= link_to 'VOLTAR', promotions_path %>
<br>
<br>
<%= link_to 'HOME', root_path %>

<% else %>
<%= link_to 'Login', new_user_session_path %>
<% end %>