<% if user_signed_in? %>
  <center><hr><strong><h4 style ="color:CadetBlue;"> Registrar nova promoção  </h4></strong><hr></center>
  <%= render 'form', promotions: @promotions %><br>
  <center>
  <%= link_to promotions_path do %>
    <i class="fa fa-angle-double-left"></i> Voltar | 
  <% end %>
  <%= link_to root_path do %>
    <i class="fa fa-home"></i> Home
  <% end %>
  </center>
<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>